Detecting System/Web References/WS_Eqp_NIR_JM/Eqp_NIR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckInputTray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCoatingTrayNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sTestType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEqpNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dtNow" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInputTrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckInputTrayResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoFinish">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCoatingTrayNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sEqpNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrResult" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="dtNow" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DoFinishResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoFinishResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckInputTraySoapIn">
    <wsdl:part name="parameters" element="tns:CheckInputTray" />
  </wsdl:message>
  <wsdl:message name="CheckInputTraySoapOut">
    <wsdl:part name="parameters" element="tns:CheckInputTrayResponse" />
  </wsdl:message>
  <wsdl:message name="DoFinishSoapIn">
    <wsdl:part name="parameters" element="tns:DoFinish" />
  </wsdl:message>
  <wsdl:message name="DoFinishSoapOut">
    <wsdl:part name="parameters" element="tns:DoFinishResponse" />
  </wsdl:message>
  <wsdl:portType name="Eqp_NIRSoap">
    <wsdl:operation name="CheckInputTray">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">NIR外检机上料时调用的Webservice</wsdl:documentation>
      <wsdl:input message="tns:CheckInputTraySoapIn" />
      <wsdl:output message="tns:CheckInputTraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoFinish">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">NIR外检机作业完成时调用的Webservice</wsdl:documentation>
      <wsdl:input message="tns:DoFinishSoapIn" />
      <wsdl:output message="tns:DoFinishSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Eqp_NIRSoap" type="tns:Eqp_NIRSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckInputTray">
      <soap:operation soapAction="http://tempuri.org/CheckInputTray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoFinish">
      <soap:operation soapAction="http://tempuri.org/DoFinish" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Eqp_NIRSoap12" type="tns:Eqp_NIRSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckInputTray">
      <soap12:operation soapAction="http://tempuri.org/CheckInputTray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoFinish">
      <soap12:operation soapAction="http://tempuri.org/DoFinish" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Eqp_NIR">
    <wsdl:port name="Eqp_NIRSoap" binding="tns:Eqp_NIRSoap">
      <soap:address location="http://192.168.49.6/MESWS/Assembly/Eqp_NIR.asmx" />
    </wsdl:port>
    <wsdl:port name="Eqp_NIRSoap12" binding="tns:Eqp_NIRSoap12">
      <soap12:address location="http://192.168.49.6/MESWS/Assembly/Eqp_NIR.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>